@import "~react-datepicker/dist/react-datepicker.css";

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: 'Arial' !important;
}

#root {
  height: 100vh;
}

.main-row {
  height: 100vh;
}

.main-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.logo {
  margin-bottom: 20px;
}

.main-left-side {
  background-color: #00AD79;
  padding-top: 20%;
  text-align: center;
  color: black;
}

.main-form {
  padding-top: 10%;
  width: 80% !important;
}

.error {
  margin-top: 10%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.link {
  float: right;
  color: black;
  padding: 10px;
  font-size: large;
}

.submit-button {
  background-color: #00AD79 !important;
  border-color: #00AD79 !important;
  width: 100%;
  margin-top: 30px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: black !important;
  font-weight: bold;
}

.navbar {
  /* background-image: linear-gradient(#8DEB67, #00AD79); */
  background-color: #00AD79;
  padding: 15px !important;
}

.navbar-link {
  color: white;
  padding: 8px;
  margin-top: 40px;
}

.navbar-link:hover {
  color: white;
}

.navbar-link:active {
  text-decoration: underline;
}

h3.company{
  display: inline;
}
.navbar-link-home {
  color: white;
  padding: 8px;
  padding-right: 10px;
  display: inline;
}
.navbar-link-home:hover {
  color: white;
  text-decoration: none;
}

.logout-button {
  margin-left: 10px;
}

/* Everything above is login */
/* ============================================= */
/* Modal */

.modal-save-changes {
  background-color: #007A56 !important;
  border-color: #007A56 !important;
}

/* ============================================= */

/* ===== Cards =====*/
.card-img-top {
  height: auto;
  max-height: 450px;
  width: auto;
  max-width: 450px;
}

.card-goal {
  width: auto;
  max-width: 450px;
  min-width: 100px;
}

.card-goal-col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.header {
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #444;
  font-weight: lighter;
  text-align: center;
}

body,
input[text],
button {
  color: #888;
}

button {
  font-size: 14px;
  /* font-family: Arial; */
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button.delete-button {
  float: right;
  background-color: gray !important;
  background-color: #d83b01 !important;
  color: white;
  padding: 4px;
  position: relative;
  font-size: 12px;
}

/* .selected {
  background-color: #cfd8dc !important;
  background-color: #0078d7 !important;
  color: white;
} */

.react-datepicker-wrapper{
  display: block;
}
.react-datepicker__input-container {
  display: block;
}

div input{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* .users {
  float: left;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: .5em;
  padding: .5em;
  height: 3.0em;
  border-radius: 4px;
  width: 17em;
}
.users li:hover {
  color: #607d8b;
  color: #0078d7;
  background-color: #ddd;
  left: .1em;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .password {
  margin: 5px 0;
}
.users .name {
  font-weight: bold;
}
.users .badge {
  display: inline-block;
  float: left;
  font-size: small;
  color: white;
  padding: 0.7em 0.7em 0 0.5em;
  background-color: #607d8b;
  background-color: #0078d7;
  background-color: #86b7dd;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3.0em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 1.2em;
} */

/* .header-bar {
  background-color: #0078d7;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 4em;
  margin: .5em 0;
  color: #888;
}
label.value {
  margin-left: 10px;
  font-size: 14px;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
input::placeholder {
  color: lightgray;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 3px;
}

.editarea {
  float: left;
}
.editarea input {
  margin: 4px;
  height: 20px;
  color: #0078d7;
}
.editarea button {
  margin: 8px;
}
.editarea .editfields {
  margin-left: 12px;
} */

.errorMsg {
  color: red;
  font-size: small;
}

.goalMsg {
  color: red;
  font-size: large;
}
.form-control.errorBox {
  border: 2px solid red;
  /* border-color: red; */
}

.expenseAmount {
  color: red;
}

.incomeAmount {
  color: green;
}

.graph {
  position: relative;
  /* max-width: 800px; */
  height: 400px;
  display: flex;
}